
<div class="container-xl px-4">
    
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
           
            <img-loader (validImageProfil)="onImageSelected($event)"></img-loader>

             <!-- Colaborators card-->
             <grid-colaborators></grid-colaborators>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <account-details (submitFormEvent)="onSubmitForm($event)"></account-details>
        </div>
       
    </div>

    

  
</div>

