<section class="collaborators">

    <div class="row">
        <div class="d-none d-md-block offset-md-1"></div>

        <div *ngFor="let colabor of colaborators" class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="colabor"></colaborator-logo>
        </div>

        <!-- <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'oracle.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'git.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6  col-md-1">
            <colaborator-logo [icon]="'java.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6  col-md-1">
            <colaborator-logo [icon]="'css.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'javascript.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'jquery.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'angular.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'bootstrap.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'spring.png'"></colaborator-logo>
        </div>
        <div class="col-sm-6 col-md-1">
            <colaborator-logo [icon]="'mysql.png'"></colaborator-logo>
        </div> -->
    </div>
</section>




 
