<h3 class="p-3">Informations générales</h3>
<div class="breadcrumb"></div>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="submitClicked()">
        <input-modal *ngFor="let inputConfig of inputsConfig" [inputConfig]="inputConfig"
            [formControlName]="inputConfig.inputTitle">
        </input-modal>

        <div class="row ">
            <div class="col-md-6">
               <div *ngIf="user.resumeNameFr" class="close-div text-center">
                <label class="mr-3">{{ user.resumeNameFr }}</label>
                <button type="button" class="file-btn" (click)="clearResumeField('fr')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#DC143C" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg>
                </button>
               </div>
                <file-drager *ngIf="!user.resumeNameFr" [langKey]="'fr'" [fileName]="user.resumeNameFr" (onFileChange)="fileChange($event)"></file-drager>
            </div>
            <div class="col-md-6">
                <div *ngIf="user.resumeNameEn" class="close-div text-center">
                    <label class="mr-3">{{ user.resumeNameEn }}</label>
                    <button type="button" class="file-btn" (click)="clearResumeField('en')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#DC143C" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                          </svg>
                    </button>
                   </div>
               <file-drager *ngIf="!user.resumeNameEn" [langKey]="'en'" [fileName]="user.resumeNameEn" (onFileChange)="fileChange($event)"></file-drager>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="w-100 btn button save-button text-uppercase" [disabled]="!(myForm.valid && checkFilesValidity())">
                    {{ "BUTTONS.saveChangeButton" | translate }}
                    
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="w-100 btn button cancel-button text-uppercase"  (click)="closeCurrentModal()">
                    {{ "BUTTONS.cancelButton" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
<div class="breadcrumb mb-0 mt-3"></div>
<!-- <pre>Value {{ myForm.value | json }}</pre>
<pre>Valid {{ myForm.valid | json }}</pre> -->