<h3 class="p-3">Informations générales</h3>
<div class="breadcrumb"></div>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="submitClicked()">
        <input-modal *ngFor="let inputConfig of inputsConfig" [inputConfig]="inputConfig"
            [formControlName]="inputConfig.inputTitle">
        </input-modal>


        <div class="row ">
            <div class="col-md-6 ">
                <file-drager [langKey]="'fr'" (onFileChange)="fileChange($event)"></file-drager>
            </div>
            <div class="col-md-6">
               <file-drager [langKey]="'en'" (onFileChange)="fileChange($event)"></file-drager>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="w-100 btn button save-button text-uppercase" [disabled]="!(myForm.valid && checkFilesValidity())">
                    {{ "BUTTONS.saveChangeButton" | translate }}
                    
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="w-100 btn button cancel-button text-uppercase"  (click)="closeCurrentModal()">
                    {{ "BUTTONS.cancelButton" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
<div class="breadcrumb mb-0 mt-3"></div>
<!-- <pre>Value {{ myForm.value | json }}</pre>
<pre>Valid {{ myForm.valid | json }}</pre> -->