 <div class="form-group">
    <ngx-file-drop [directory]="false" accept=".pdf"   dropZoneLabel="Drag" (onFileDrop)="droppedFile($event)"
                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                        <ng-template  ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            {{ getFileNameEn() | translate }}
                            <!-- <button class="button" type="button" (click)="openFileSelector()">Browse Files</button> -->
                        </ng-template>
                    </ngx-file-drop>
    <div  *ngIf="errors.length > 0">
            <div class="ml-4 invalid-choice" *ngFor="let error of errors">{{"ERRORS" | propertyExtractor : error | translate}}</div>
    </div>
 </div>
 
