<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
            <img [src]="imageName" alt="Admin" class="rounded-circle"
                width="150">
            <div class="mt-3">
                <h4>{{ fullname | uppercase }}</h4>
                <p class="text-secondary mb-1">{{ function | titlecase }}</p>
                <p class="text-muted font-size-sm">{{ city | titlecase }}, {{ country | titlecase }}</p>
            </div>
        </div>
    </div>
</div>