<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <profil
                    [imageName] = "imageUrl"
                    [fullname]="fullname"
                    [function]="'Full stuck developper'"
                    [city]="user?.city"
                    [country]="user?.country"></profil>
                <div class="card mt-3 ">
                    <ul class="list-group list-group-flush">
                        <links *ngFor="let link of user?.links" [link]="link"></links>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card  mb-3">
                    <div class="card-body text-justify">
                        <!-- <p>{{ para | paragrapheLength }}</p> -->
                        <p>{{ description }}</p>
                    </div>
                </div>
                <div *ngIf="user" class="card mb-3">
                    <div class="card-body">
                        <info-profil [title]="'fullname'" [value]="fullname"></info-profil>
                        <info-profil [displayIn]="'small'" [title]="'email'" [value]="user.email"></info-profil>
                        <info-profil [title]="'phone'" [value]="user.phone"></info-profil>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <competence></competence>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <competence></competence>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>