<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <profil></profil>
                <div class="card mt-3 d-none d-md-block">
                    <ul class="list-group list-group-flush">
                        <links></links>
                        <links></links>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card  mb-3">
                    <div class="card-body text-justify">
                        <!-- <p>{{ para | paragrapheLength }}</p> -->
                        <p>{{ para }}</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <info-profil [title]="'fullname'" [user]="user"></info-profil>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <competence></competence>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <competence></competence>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>