

/* CSS variables */
@import url('./assets/css/partials/_variables.css');

/* Global css */
@import url('./assets/css/partials/_global.css');

html, body{
    /* background-color: #0c0456 ; Green */
    /* color: white; */
   
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--montessrat);
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
